ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}


a {	
	display: block;
	border: 1px, solid, black;
	width: 400px;
	height: 40px;
	text-decoration: none;
	color: black;
	background: url(imagens/menu.png);
}

